[DEFAULT]
PostgreSQLStoreDatabase=quick_fix_acceptor
PostgreSQLStoreUser=user
PostgreSQLStorePassword=password
PostgreSQLStoreHost=db_quickfix
PostgreSQLStorePort=5432
PostgreSQLStoreUseConnectionPool=Y
PostgreSQLLogDatabase=quick_fix_acceptor
PostgreSQLLogUser=user
PostgreSQLLogPassword=password
PostgreSQLLogHost=db_quickfix
PostgreSQLLogPort=5432
PostgreSQLLogUseConnectionPool=Y
ConnectionType=acceptor
SocketReuseAddress=Y
FileStorePath=store
FileLogPath=log
StartTime=00:00:00
EndTime=00:00:00
UseDataDictionary=Y
ReconnectInterval=60
LogoutTimeout=5
LogonTimeout=30
ResetOnLogon=Y
ResetOnLogout=Y
ResetOnDisconnect=Y
SendRedundantResendRequests=Y
RefreshOnLogon=Y
# ValidateLengthAndChecksum=Y

# session definition
[SESSION]
BeginString=FIX.4.2
SenderCompID=TESTACC
TargetCompID=TESTINI
SocketAcceptPort=3001
DataDictionary=./spec/TT-FIX42.xml
